<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Winku Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
    <div class="topbar stick">
        <div class="logo" id="narnialogo">
            <a href="/timeline" title=""><img src="/images/Narnia-Logo2.jpg" alt=""></a>
        </div>
        <div class="top-area">
            <ul class="main-menu">
                <li sec:authorize="isAuthenticated()">
                    <a href="#" title="">timeline</a>
                    <ul>
                        <li><a href="/timeline" title="">timeline</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" title="">World Hottest</a>
                    <ul>
                        <li><a href="/hot" title="">world hottest</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" title="">profile page</a>
                    <ul>
                        <li><a th:href="@{/profile}" title="">go to profile page</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" title="">account settings</a>
                    <ul>
                        <li><a th:href="@{/profile/{id}/edit-password(id=${user.id})}" title="">edit-password</a></li>
                        <li><a th:href="@{/profile/{id}/edit-profile(id=${user.id})}" title="">edit profile basics</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" title="">more pages</a>
                    <ul>
                        <li><a th:href="@{/about}" title="">about us</a></li>
                        <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" title="">admin page</a></li>
                    </ul>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a href="#" title="">Login Or Register</a>
                    <ul>
                        <li><a href="/login" title="">Login or Register</a></li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="#" title="">Explore Narnia</a>
                    <ul>
                        <li><a th:href="@{/}" title="">Explore Narnia</a></li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="#" title="">About Us</a>
                    <ul>
                        <li><a href="/about" title="">About Us</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="setting-area" id="settingstopbar" sec:authorize="isAuthenticated()">
                <li>
                    <a title="Search" data-ripple=""><i class="ti-search" id="searchicon"></i></a>
                    <div class="searched">
                        <form method="post" class="form-search" >
                            <input type="text" class="search-input"  id="search-input" placeholder="Search User">
                            <button data-ripple><i class="ti-search"></i></button>
                            <div class="results-list" id="results-list">

                            </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a title="Notification" id="notiicon" data-ripple="">
                        <i class="ti-bell"></i><span th:text="${user.getReceivedRequests().size()}"></span>
                    </a>
                    <div class="dropdowns">
                        <ul class='mesg-meta' id="requests">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Antonio Lukanov</h4>
                                        <ul class="naves" id="aboutus">
                                            <li>
                                                <i class="ti-check"></i>
                                                <p title="">Telerik Academy Student</p>
                                            </li>
                                            <li>
                                                <i class="ti-info-alt"></i>
                                                <p title="">tonyo.linkedin</p>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <p>antonio.n.lukanov@gmail.com</p>
                                            </li>
                                            <li>
                                                <i class="ti-face-smile"></i>
                                                <p title="">1 Cat/1 Dog</p>
                                            </li>
                                            <li>
                                                <i class="ti-lock"></i>
                                                <p title="" href="edit-password.html">4 Coffees a day</p>
                                            </li>
                                            <li>
                                                <i class="ti-star"></i>
                                                <a title="" href="edit-password.html">Dota 2 wanna-be gangster</a>
                                            </li>

                                        </ul>
                                    </div>
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="about">
                                        <div class="personal">
                                            <h5 class="f-title"><i class="ti-info-alt"></i> About our team</h5>
                                            <p>
                                                We are a group of two Telerik Academy students, who seek to learn on
                                                daily basis. So far we have done
                                                several projects ,but this one is our biggest and most challenging one .
                                                The technologies
                                                we have used for this project are Java, JavaScript, HTML, CSS, JPA, Spring,
                                                Lombock, MapStruct and MariaDB.
                                            </p>
                                            <br>
                                            <br>
                                            <h3 id="moto">If you don't know, the thing to do is not to get scared, but
                                                to learn!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Victor Petrov</h4>
                                        <ul class="naves" id="aboutus2">
                                            <li>
                                                <i class="ti-check"></i>
                                                <p title="">Telerik Academy Student</p>
                                            </li>
                                            <li>
                                                <i class="ti-info-alt"></i>
                                                <p title="">victor.linkedin</p>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <p>viktor.e.petrov92@abv.bg</p>
                                            </li>
                                            <li>
                                                <i class="ti-face-smile"></i>
                                                <p title="">3 Cats</p>
                                            </li>
                                            <li>
                                                <i class="ti-lock"></i>
                                                <p title="" href="edit-password.html">6 Coffees a day</p>
                                            </li>
                                            <li>
                                                <i class="ti-star"></i>
                                                <p title="" href="edit-password.html">Dota 2 real gangster</p>
                                            </li>

                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/script.js"></script>
<script src="js/map-init.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>

</html>