<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Narnia</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<div class="topbar stick">
    <div class="logo" id="narnialogo">
        <a href="/timeline" title=""><img src="/images/Narnia-Logo2.jpg" alt=""></a>
    </div>
    <div class="top-area">
        <ul class="main-menu">
            <li>
                <a href="#" title="">timeline</a>
                <ul>
                    <li><a href="/timeline" title="">timeline</a></li>
                </ul>
            </li>
            <li>
                <a href="#" title="">World Hottest</a>
                <ul>
                    <li><a href="/hot" title="">world hottest</a></li>
                </ul>
            </li>
            <li>
                <a href="#" title="">profile page</a>
                <ul>
                    <li><a th:href="@{/profile}" title="">go to profile page</a></li>
                </ul>
            </li>
            <li>
                <a href="#" title="">account settings</a>
                <ul>
                    <li><a th:href="@{/profile/{id}/edit-password(id=${userInfo.id})}" title="">edit-password</a></li>
                    <li><a th:href="@{/profile/{id}/edit-profile(id=${userInfo.id})}" title="">edit profile basics</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="">more pages</a>
                <ul>
                    <li><a th:href="@{/about}" title="">about us</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" title="">admin page</a></li>
                </ul>
            </li>

        </ul>
        <ul class="setting-area" id="settingstopbar">
            <li>
                <a title="Search" data-ripple=""><i class="ti-search" id="searchicon"></i></a>
                <div class="searched">
                    <form method="post" class="form-search" >
                        <input type="text" class="search-input"  id="search-input" placeholder="Search User">
                        <button data-ripple><i class="ti-search"></i></button>
                        <div class="results-list" id="results-list">

                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a title="Notification" id="notiicon" data-ripple="">
                    <i class="ti-bell"></i><span th:text="${userInfo.getReceivedRequests().size()}"></span>
                </a>
                <div class="dropdowns">
                    <ul class='mesg-meta' id="requests">
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div><!-- topbar -->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" id="adminpg">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget">
                                    <div class="col-md-12">
                                        <h4 class="widget-title">Users Modal</h4>
                                        <!-- large modal -->
                                        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog"
                                             aria-labelledby="basicModal" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content" id="admineditusers">
                                                    <div class="modal-header">
                                                        <h5 id="edmusertnx" class="f-title"><i class="ti-info-alt"
                                                                                               id="adminuserstitle"></i>
                                                            Edit Basic Information</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="usedTable">
                                                            <thead>
                                                            <tr>
                                                                <th class="theader">ID</th>
                                                                <th class="theader">Email</th>
                                                                <th class="theader">First Name</th>
                                                                <th class="theader">Last Name</th>
                                                                <th class="theader">Age</th>
                                                                <th class="theader">Privacy</th>
                                                                <th style="width: 36px;"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody th:each="user : ${usersAdmin}">
                                                            <tr>
                                                                <td th:text="${user.getId()}"></td>
                                                                <td id="mail"
                                                                    th:text="${user.getLogin().getUsername()}">
                                                                </td>
                                                                <td th:text="${user.firstName}"></td>
                                                                <td th:text="${user.lastName}"></td>
                                                                <td th:text="${user.age}"></td>
                                                                <td th:text="${user.privacy}"></td>

                                                                <td class="push">
                                                                    <div class="row mb-4">
                                                                        <div class="col text-center">
                                                                            <button href="#"
                                                                                    class="mtr-btn"
                                                                                    value="Edit"
                                                                                    data-toggle="modal"
                                                                                    data-target="#basicModalUsers"
                                                                                    th:attrappend="data-target=${user.id}"
                                                                            ><span>Edit</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal fade" id="basicModalUsers"
                                                                         tabindex="-1" role="dialog"
                                                                         th:attrappend="id=${user.id}"
                                                                         aria-labelledby="basicModal"
                                                                         aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content"
                                                                                 id="editbasicinfowdw">
                                                                                <div class="modal-header">
                                                                                    <h5 class="f-title"><i
                                                                                            class="ti-info-alt"></i>
                                                                                        Edit Basic Information</h5>
                                                                                    <button type="button"
                                                                                            class="close"
                                                                                            data-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form method="post"
                                                                                          th:object="${regUser}"
                                                                                          id="editusersform">
                                                                                        <div class="form-group half">
                                                                                            <input
                                                                                                    type="text"
                                                                                                    required="required"
                                                                                                    name="firstName"
                                                                                                    id="firstName"
                                                                                            />
                                                                                            <label class="control-label"
                                                                                                   for="firstName">First
                                                                                                Name</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <input type="text"
                                                                                                   id="lastName"
                                                                                                   name="lastName"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="lastName">Last
                                                                                                Name</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <input type="text"
                                                                                                   id="age"
                                                                                                   name="age"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="age">Age</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <input type="text"
                                                                                                   id="education"
                                                                                                   name="education"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="education">Education</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <input type="text"
                                                                                                   id="address"
                                                                                                   name="address"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="address">Address</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <input type="hidden"
                                                                                                   id="email"
                                                                                                   th:text="${user.getLogin().getUsername()}"
                                                                                                   th:value="${user.getLogin().getUsername()}"
                                                                                                   name="email"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="email"></label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half"
                                                                                             id="pwedit">
                                                                                            <input type="text"
                                                                                                   id="password"
                                                                                                   name="password"
                                                                                                   required="required"/>
                                                                                            <label class="control-label"
                                                                                                   for="password">Password</label><i
                                                                                                class="mtrl-select"></i>
                                                                                        </div>
                                                                                        <div class="form-group half">
                                                                                            <select id="privacy"
                                                                                                    name="privacy"
                                                                                                    required="required">
                                                                                                <option value="PUBLIC">
                                                                                                    Public
                                                                                                </option>
                                                                                                <option value="PRIVATE">
                                                                                                    Private
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="submit-btns"
                                                                                             id="editusersbtns">
                                                                                            <button type="submit"
                                                                                                    class="mtr-btn"
                                                                                                    id="update"
                                                                                                    name="update"
                                                                                                    onclick="confirm('Update information ?')">
                                                                                                <span>Update</span>
                                                                                            </button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                            class="btn btn-default"
                                                                                            data-dismiss="modal">
                                                                                        Close
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="push">
                                                                    <form th:action="@{/admin/delete-user}"
                                                                          method="post" th:object="${regUser}">
                                                                        <input name="email" type="hidden"
                                                                               th:value="${user.getLogin().getUsername()}">
                                                                        <input type="submit"
                                                                               onclick="confirm('Are you sure you want to delete this user?')"
                                                                               class="btn deladmin2  btn btn-danger"
                                                                               value="Delete"/>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col text-center">
                                                <h3 class="modaltitles">Users</h3>
                                                <a href="#" class="btn btn-lg btn-primary" data-toggle="modal"
                                                   data-target="#largeModal">Manage Users</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Shortcuts -->
                            </aside>
                        </div>
                        <!--                            =========Post Modal-->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Posts Modal</h4>

                                    <div class="modal fade" id="lrgModal" tabindex="-1" role="dialog"
                                         aria-labelledby="basicModal" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content" id="admineditposts">
                                                <div class="modal-header">
                                                    <h5 id="editpsts" class="f-title"><i class="ti-info-alt"
                                                                                         id="adminposttitle"></i>
                                                        Edit Posts</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Author</th>
                                                            <th>Content</th>
                                                            <th>Privacy</th>
                                                            <th>Time Created</th>
                                                            <th>Likes</th>
                                                            <th>Interactions</th>
                                                            <th style="width: 36px;"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody th:each="post : ${postsAdmin}">
                                                        <tr>
                                                            <td th:text="${post.id}">id</td>
                                                            <td th:text="${post.getCreatedBy().getFirstName()} + ' ' + ${post.getCreatedBy().getLastName()}">
                                                                Author
                                                            </td>
                                                            <td th:text="${post.content}">Content</td>
                                                            <td th:text="${post.privacy}">Privacy</td>
                                                            <td th:text="${post.timeCreated}">Time Created</td>
                                                            <td th:text="${post.totalLikes}">Total Likes</td>
                                                            <td th:text="${post.totalInteractions}">Total Likes</td>

                                                            <td class="push">
                                                                <div class="row mb-4">
                                                                    <div class="col text-center">
                                                                        <button href="#"
                                                                                class="mtr-btn"
                                                                                value="Edit"
                                                                                data-toggle="modal"
                                                                                data-target="#basicModalPosts"
                                                                                th:attrappend="data-target=${post.id}"

                                                                        ><span>Edit</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="modal fade" id="basicModalPosts"
                                                                     tabindex="-1" role="dialog"
                                                                     th:attrappend="id=${post.id}"
                                                                     aria-labelledby="basicModal"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content"
                                                                             id="editpostsheader">
                                                                            <div class="modal-header">
                                                                                <h5 class="f-title"><i
                                                                                        class="ti-info-alt"></i>
                                                                                    Edit Posts</h5>
                                                                                <button type="button"
                                                                                        class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form method="post"
                                                                                      th:action="@{/admin/posts}"
                                                                                      th:object="${postModel}"
                                                                                      id="editpostform">
                                                                                    <div class="form-group half">
                                                                                        <input type="hidden"
                                                                                               id="id"
                                                                                               th:text="${post.id}"
                                                                                               th:value="${post.id}"
                                                                                               name="id"
                                                                                               required="required"/>
                                                                                        <label class="control-label"
                                                                                               for="email"></label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>
                                                                                    <div class="form-group half"
                                                                                         id="commentcnt">
                                                                                        <input
                                                                                                type="text"
                                                                                                th:text="${post.content}"
                                                                                                required="required"
                                                                                                name="content"
                                                                                                id="content"
                                                                                        />
                                                                                        <label class="control-label"
                                                                                               for="content"> New
                                                                                            Content</label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>
                                                                                    <div class="form-group half">
                                                                                        <input type="text"
                                                                                               id="totalLikes"
                                                                                               name="totalLikes"
                                                                                               required="required"/>
                                                                                        <label class="control-label"
                                                                                               for="totalLikes">Total
                                                                                            Likes</label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>
                                                                                    <div class="form-group half">
                                                                                        <select
                                                                                                name="privacy"
                                                                                                required="required">
                                                                                            <option value="PUBLIC">
                                                                                                Public
                                                                                            </option>
                                                                                            <option value="PRIVATE">
                                                                                                Private
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>


                                                                                    <div class="submit-btns"
                                                                                         id="editpostsbtns">
                                                                                        <button type="submit"
                                                                                                class="mtr-btn"
                                                                                                id="update1"
                                                                                                name="update"
                                                                                                onclick="confirm('Update information ?')">
                                                                                            <span>Update</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-default"
                                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="push">
                                                                <form th:action="@{/admin/delete-post}"
                                                                      method="post" th:object="${postModel}">
                                                                    <input name="id" type="hidden"
                                                                           th:value="${post.getId()}">
                                                                    <input type="submit"
                                                                           onclick="confirm('Are you sure you want to delete this post?')"
                                                                           class="btn deladmin  btn btn-danger"
                                                                           value="Delete"/>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col text-center">
                                            <h3 class="modaltitles">Posts</h3>
                                            <a href="#" class="btn btn-lg btn-primary" data-toggle="modal"
                                               data-target="#lrgModal">Manage Posts</a>
                                        </div>
                                    </div>

                                </div><!-- settings widget -->
                            </aside>
                        </div>
                        <!--                            =======Comment Modal-->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Comment Modals</h4>
                                    <div class="row mb-4">
                                        <div class="col text-center">
                                            <h3 class="modaltitles">Comments</h3>
                                            <a href="#" class="btn btn-lg btn-primary" data-toggle="modal"
                                               data-target="#lgModal">Manage Comments</a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="lgModal" tabindex="-1" role="dialog"
                                         aria-labelledby="basicModal" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content" id="admineditcomments">
                                                <div class="modal-header">
                                                    <h5 id="editcmts" class="f-title"><i class="ti-info-alt"
                                                                                         id="admincmttitle"></i>
                                                        Edit Comments</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Author</th>
                                                            <th>Content</th>
                                                            <th>Likes</th>
                                                            <th>Time Created</th>
                                                            <th style="width: 36px;"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody th:each="comment : ${commentsAdmin}">
                                                        <tr>
                                                            <td th:text="${comment.id}">id</td>
                                                            <td th:text="${comment.getCreator().getFirstName()} + ' ' + ${comment.getCreator().getLastName()}">
                                                                Author
                                                            </td>
                                                            <td th:text="${comment.content}">Content</td>
                                                            <td th:text="${comment.totalLikes}">Likes</td>
                                                            <td th:text="${comment.timeCreated}">Time Created</td>

                                                            <td class="push">
                                                                <div class="row mb-4">
                                                                    <div class="col text-center">
                                                                        <button href="#"
                                                                                class="mtr-btn"
                                                                                value="Edit"
                                                                                data-toggle="modal"
                                                                                data-target="#basicModalComments"
                                                                                th:attrappend="data-target=${comment.id}"

                                                                        ><span>Edit</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="modal fade" id="basicModalComments"
                                                                     tabindex="-1" role="dialog"
                                                                     th:attrappend="id=${comment.id}"
                                                                     aria-labelledby="basicModal"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content"
                                                                             id="editcommentsheader">
                                                                            <div class="modal-header">
                                                                                <h5 class="f-title"><i
                                                                                        class="ti-info-alt"></i>
                                                                                    Edit Comments</h5>
                                                                                <button type="button"
                                                                                        class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form method="post"
                                                                                      th:action="@{/admin/comments}"
                                                                                      th:object="${commentModel}"
                                                                                      id="editcommentform">
                                                                                    <div class="form-group half">
                                                                                        <input type="hidden"
                                                                                               th:text="${comment.id}"
                                                                                               th:value="${comment.id}"
                                                                                               name="id"
                                                                                               required="required"/>
                                                                                        <label class="control-label"
                                                                                               for="id"></label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>
                                                                                    <div class="form-group half"
                                                                                         id="comntcnt">
                                                                                        <input
                                                                                                type="text"
                                                                                                th:text="${comment.content}"
                                                                                                required="required"
                                                                                                name="content"
                                                                                        />
                                                                                        <label class="control-label"
                                                                                               for="content"> New
                                                                                            Content</label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>
                                                                                    <div class="form-group half">
                                                                                        <input type="text"
                                                                                               name="totalLikes"
                                                                                               required="required"/>
                                                                                        <label class="control-label"
                                                                                               for="totalLikes">Total
                                                                                            Likes</label><i
                                                                                            class="mtrl-select"></i>
                                                                                    </div>

                                                                                    <div class="submit-btns"
                                                                                         id="editcommentsbtns">
                                                                                        <button type="submit"
                                                                                                class="mtr-btn"
                                                                                                id="update2"
                                                                                                name="update"
                                                                                                onclick="confirm('Update information ?')">
                                                                                            <span>Update</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-default"
                                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="push">
                                                                <form th:action="@{/admin/delete-comment}"
                                                                      method="post" th:object="${commentModel}">
                                                                    <input name="id" type="hidden"
                                                                           th:value="${comment.getId()}">
                                                                    <input type="submit"
                                                                           onclick="confirm('Are you sure you want to delete this comment?')"
                                                                           class="btn deladmin  btn btn-danger"
                                                                           value="Delete"/>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- settings widget -->
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- side panel -->

<script src="/js/main.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/map-init.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</body>

</html>